<a href="https://colab.research.google.com/github/Jaejuna/LearningAlgo/blob/main/BaekJoonAlgo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#백준 1110
num = int(input())
check = num
new_num = 0
temp = 0
count = 0
while True:
    temp = num//10 + num%10
    new_num = (num%10)*10 + temp%10
    count += 1
    num = new_num
    if new_num == check:
        break
print(count)

55
3

In [ ]:
#백준 11654
a = input()
#문자열을 아스키 코드로 출력해주는 함수
print(ord(a))

In [ ]:
#백준 11720
n = int(input())

print(sum(map(int,input())))

In [ ]:
#백준 2941
list = ["c=", "c-", "dz=", "d-", "lj", "nj", "s=", "z="]
n = input() 

for i in list:
  #문자열을 변환해주는 함수
  n = n.replace(i, "*")
print(len(n))

ljes=njak
6

In [ ]:
#백준 1000
n,m = map(int, input().split())

print(n+m)

1 2
3

In [ ]:
#백준 1330
A, B  = map(int, input().split())

if A > B:
  print(">")
elif A < B:
  print("<")
elif A == B:
  print("==")

 5 3
>

In [ ]:
#백준 2739
N = int(input())

for i in range(1, 10):
  print(N, '*', i, "=", N * i)

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [ ]:
#백준 10950
T = int(input())

for i in range(T):
  A, B = map(int, input().split())
  print(A+B)

3
1 1
2
2 3
5
3 4
7

In [ ]:
#백준 10951

while True:
  try:
    a, b = map(int, input().split()) 
    print(a+b)
  except:
    break

1 1
2

In [ ]:
#백준 1712
a, b, c = map(int, input().split())

if b >= c:
  print(-1)
else:
  print(int(a/(c-b)+1))

1000 70 170
11

In [ ]:
#백준 10818
n = int(input())
a = list(map(int, input().split()))
a.sort()

print(a[0], a[n-1])

5
7 12 19 35 6
6 35

In [ ]:
#백준 2562
n = []

for i in range(9):
  a = int(input())
  n.append(a)

print(max(n))
print(n.index(max(n))+1)

3
29
38
12
57
74
40
85
61
85
8

In [ ]:
#백준 2577
a = int(input())
b = int(input())
c = int(input())

answer = list(str(a * b * c))
for i in range(10):
  print(answer.count(str(i)))

14 35 64
1
1
0
2
0
0
1
0
0
0

In [ ]:
#백준 15596
def solve(a):
  print(sum(a))

solve(list(map(int, input().split())))

1 2 3 4 5
15

In [ ]:
#백준 1152
print(len(input().split()))

The Curious Case of Benjamin Button
6

In [ ]:
#백준 10250
t = int(input())

for i in range(t):
  h, w, n = map(int, input().split())
  num = n//h + 1
  floor = n % h
  if n % h == 0:  
    num = n//h
    floor = h
  print(floor*100+num)

2
6 12 10
402
30 50 72
1203

In [ ]:
#백준 1001
a,b = map(int, input().split())

result =  a - b
print(result)

In [ ]:
#백준 10998
a,b = map(int, input().split())

result =  a * b
print(result)

In [ ]:
#백준 10869
a,b = map(int, input().split())

result =  a + b
print(result)
result =  a - b
print(result)
result =  a * b
print(result)
result =  a / b
print(int(result))
result =  a % b
print(result)

7 3
10
4
21
2.3333333333333335
1

In [ ]:
#백준 10430
a,b,c = map(int, input().split())

result =  (a + b)%c
print(result)
result =  ((a%c) + (b%c))%c
print(result)
result =  (a * b)%c
print(result)
result =  ((a%c) * (b%c))%c
print(result)

5 8 4
1
1
0
0

In [ ]:
#백준 2588
a = int(input())
b = input()

AxB2 = a * int(b[2])
AxB1 = a * int(b[1])
AxB0 = a * int(b[0])
AxB = a*int(b)

print(AxB2, AxB1, AxB0, AxB, sep='\n')
# sep = print 함수에서 출력할 값이 여러 개일 때 각 값의 사이사이에 
# 삽입할 문자를 지정할 문자를 지정할 수 있는 파라미터

472
385
2360
3776
1416
181720

In [ ]:
#백준 2753
a = int(input())

if (a % 4 == 0 and a % 100 != 0) or a % 400 == 0:
  print(1)
else:
  print(0)

1999
0

In [ ]:
#백준 14681
x = int(input())
y = int(input())

if x > 0 and y > 0:
  print(1)
elif x < 0 and y > 0:
  print(2)
elif x < 0 and y < 0:
  print(3)
elif x > 0 and y < 0:
  print(4)

9
-13
4

In [ ]:
#백준 8393
x = int(input())
result = 0

for i in range(x):
  result += 1 + i

print(result)

4
10

In [ ]:
#백준 2741
x = int(input())
result = 0

for i in range(1, x+1):
  print(i)

5
1
2
3
4
5

In [ ]:
#백준 2742
x = int(input())
result = 0

for i in range(0, x):
  print(x-i)

5
5
4
3
2
1

In [ ]:
#백준 11021
x = int(input())

for i in range(x):
  a, b = map(int, input().split())
  print("Case #"+str(i)+':',a+b)

#for i in range(x):
#  a,b = map(int, input().split())
#  ans = a + b
#  print("Case #%s: %s"%(i+1, ans ))

1
1 1
Case #0: 2

In [ ]:
#백준 11022
x = int(input())

for i in range(x):
  a,b = map(int, input().split())
  ans = a + b
  print("Case #%s: %s + %s = %s"%(i+1, a, b, ans ))

1
1 1
Case #1: 1 + 1 = 2

In [ ]:
#백준 2438
x = int(input())
star = "*"

for i in range(x):
  print(star)
  star = star + "*"

5
*
**
***
****
*****

In [ ]:
#백준 2439
x = int(input())

for i in range(1, x+1):
  print(" "*(x-i) + "*"*i)

5
    *
   **
  ***
 ****
*****

In [ ]:
#백준 10952
while True:
  x, y = map(int, input().split())
  if x == 0 and y == 0:
    break
  print(x+y)

1 1
2
10 5
15
0 0

In [ ]:
#백준 3052
arr = []
for i in range(10):
    n = int(input())
    arr.append(n % 42)
arr = set(arr)    #set은 unique한 값을 갖게 만듦
print(len(arr))

1
42
65
345
13
10
84
65
4
35
8

In [ ]:
#백준 1546
x = int(input())
score = list(map(int, input().split())) #입력값 바로 리스트로 만들기
max = max(score)

new_list = []
for s in score :
    new_list.append(s/max *100)  # 새로운 점수 생성
test_avg = sum(new_list)/x
print(test_avg)

In [ ]:
#백준 8958
N = int(input())

for i in range(N):
    a = input()
    score = 0
    sumScore = 0
    for j in a:
        if j == 'O':
            score += 1
        else:
            score = 0
        sumScore += score
    print(sumScore)

5
OOXXOXXOOO
10
OOXXOOXXOO
9
OXOXOXOXOXOXOX
7
OOOOOOOOOO
55
OOOOXOOOOXOOOOX
30

In [ ]:
#백준 4344
n = int(input())

for _ in range(n):
    nums = list(map(int, input().split()))
    avg = sum(nums[1:])/nums[0]
    cnt = 0
    for score in nums[1:]:
        if score > avg:
            cnt += 1 
    rate = cnt/nums[0] *100
    print(f'{rate:.3f}%')  #f-string 표기법

2
5 50 50 70 80 100
40.000%
7 100 95 90 80 70 60 50
57.143%

In [13]:
#백준 2675 (문자열)
n = int(input())
cnt = 0

for i in range(n):
  m, c = input().split()
  for j in c:
    print(j*int(m), end="")
  print()

2
3 ABC
AAABBBCCC
3 ABCDE
AAABBBCCCDDDEEE

In [17]:
#백준 1157 (문자열)
words = input().upper()
unique_word = list(set(words))   
#set 자료형은 중복을 허용하지 않음
#print(unique_word)

cnt_list = []   #빈 리스트 선언
for i in unique_word:
  cnt = words.count(i)     
  cnt_list.append(cnt)    #알파벳 갯수 세서 리스트에 갯수 하나씩 넣기

if cnt_list.count(max(cnt_list)) > 1 :  #가장 큰수 count 해서 1과 비교
  print('?')
else :
  max_index = cnt_list.index(max(cnt_list))   #max index 찾기
  print(unique_word[max_index])

Mississipi
?