<a href="https://colab.research.google.com/github/Jaejuna/LearningAlgo/blob/main/sort.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
# 선택 정렬
array = [7, 5, 9, 0, 3, 1, 6, 2, 4, 8]

for i in range(len(array)):
  min_index = i
  for j in range(i + i, len(array)):
    if array[min_index] > array[j]:
      min_index = j
  array[i], array[min_index] = array[min_index], array[i]

print(array)

[0, 1, 2, 4, 3, 5, 6, 9, 7, 8]

In [13]:
# 삽입 정렬
array = [7, 5, 9, 0, 3, 1, 6, 2, 4, 8]

for i in range(1, len(array)):
  for j in range(i, 0, -1):
    if array[j] < array[j-1]:
      array[j], array[j-1] = array[j-1], array[j]
    else:
      break

print(array)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
# 퀵 정렬
array = [7, 5, 9, 0, 3, 1, 6, 2, 4, 8]

def quick_sort(array, start, end):
  if start >= end:
    return
  pivot = start
  left = start + 1
  right = end
  while(left<=right):
    while(left<=end and array[left]<=array[pivot]):
      left += 1
    while(right>start and array[right]>=array[pivot]):
      right -= 1
    if (left>right):
      array[right], array[pivot] = array[pivot], array[right]
    else:
      array[left], array[right] = array[right], array[left]
  quick_sort(array, start, right-1)
  quick_sort(array, right+1, end)

quick_sort(array, 0, len(array)-1)
print(array)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
# 계수 정렬
array = [7,5,9,0,3,1,6,2,9,1,4,8,0,5,2]

count = [0]*(max(array)+1)

for i in range(len(array)):
	count[array[i]] += 1

for i in range(len(count)):
  for j in range(count[i]):
    print(i, end=' ')

0 0 1 1 2 2 3 4 5 5 6 7 8 9 9

In [11]:
# 2752 세수 정렬
n = list(map(int, input().split()))

n.sort()
print(n[0], n[1], n[2])

3 1 2
1 2 3