<a href="https://colab.research.google.com/github/Jaejuna/LearningAlgo/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EB%AC%B8%EB%B2%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 자료형

## 수 자료형

In [1]:
# 정수형
a = 5
print(a)

a = -5
print(a)

a = 0
print(a)

5
-5
0

In [7]:
# 실수형
a = 15.534
print(a)

a = -15.315
print(a)

a = 5.
print(a)

a = -.5
print(a)

a = 1e9
print(a)

a = 74.23e1
print(a)

a = 3531e-3
print(a)

## 2진수로 0.9를 정확히 표현할 수 없다.
a = 0.3 + 0.6
print(a)

if a == 0.9:
  print(True)
else:
  print(False)

## 이 경우 round 함수로 표현 가능
a = 0.3 + 0.6
print(round(a, 4))

15.534
-15.315
5.0
-0.5
1000000000.0
742.3
3.531
0.8999999999999999
False
0.9

In [8]:
# 수 자료형 연산
a = 7
b = 3

print(a / b)

print(a % b)

print(a // b)

print(a ** b)

2.3333333333333335
1
2
343

## 리스트 자료형

In [9]:
a = [1,2,3,4,5,6,7,8,9]
print(a)

print(a[4])

a = list()
print(a)

a = []
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
5
[]
[]

In [10]:
n = 10
a = [0] * n
print(a)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [11]:
# 인덱싱 
a = [1,2,3,4,5,6,7,8,9]
print(a[-1])

print(a[-3])

a[3] = 7
print(a)

9
7
[1, 2, 3, 7, 5, 6, 7, 8, 9]

In [12]:
# 슬라이싱
a = [1,2,3,4,5,6,7,8,9]

print(a[1:4])

[2, 3, 4]

In [13]:
# 리스트 컴프리핸션 (대괄호 안에 조건문, 반복문 가능)
a = [i for i in range(20) if i % 2 == 1]
print(a)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [14]:
a = [i * i for i in range(1, 10)]
print(a)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [15]:
# 2차원 리스트
n = 3
m = 4
array = [[0] * m for _ in range(n)] # '_' 는 단순 반복 변수 무시

In [16]:
# 2차원 리스트 초기화시 컴프리헨션을 사용하지 않아 잘못 나온 결과 예시
n = 3
m = 4
array = [[0] * m] * n
print(array)

array[1][1] = 5
print(array)

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]
[[0, 5, 0, 0], [0, 5, 0, 0], [0, 5, 0, 0]]

In [18]:
# 리스트 관련 메소드
a = [1, 4, 3]
print("기본 리스트: ", a)

# 원소 삽입
a.append(2)   # O(1)
print(a)

# 오름차순 정렬
a.sort()
print(a)

# 내림차순 정렬
a.sort(reverse=True)
print(a)

# 리스트 원소 뒤집기
a.reverse()
print(a)

# 특정 인덱스에 데이터 추가
a.insert(2, 3)    # O(n)
print(a)

# 특정 값인 데이터 개수 세기
print(a.count(3))

# 특정 데이터 삭제
a.remove(1)
print(a)

기본 리스트:  [1, 4, 3]
[1, 4, 3, 2]
[1, 2, 3, 4]
[4, 3, 2, 1]
[1, 2, 3, 4]
[1, 2, 3, 3, 4]
2
[2, 3, 3, 4]

In [19]:
# 리스트 연산(?)
a = [1,2,3,4,5,5,5]
remove_set ={3,5}

result = [i for i in a if i not in remove_set]
print(result)

[1, 2, 4]

## 문자열 자료형

In [20]:
# 문자열 초기화
a = "Hello world"
print(a)

a = "Don't you know \"Python\"?"
print(a)

Hello world
Don't you know "Python"?

In [21]:
# 문자열 연산
a = "Hello"
b = "World"

print(a + " " + b)

Hello World

In [22]:
a = "String"
print(a * 3)

StringStringString

In [24]:
# 문자열 인덱싱
a = "ABCDEF"
print(a[2:4])

CD

## 튜플 자료형

In [26]:
# 한 번 선언 된 값은 변경 불가
# 소괄호 '()'로 선언한다
a = (1,2,3,4)
print(a)

a[2] = 7  # 변경 시도

(1, 2, 3, 4)

TypeError: ignored

## 사전 자료형

In [27]:
# key-value 구조의 자료형
a = dict()
a['사과'] = "Apple"
a['바나나'] = "Banana"
a['코코넛'] = "Coconut"

print(a)

{'사과': 'Apple', '바나나': 'Banana', '코코넛': 'Coconut'}

In [28]:
a = dict()
a['사과'] = "Apple"
a['바나나'] = "Banana"
a['코코넛'] = "Coconut"

if '사과' in a:
  print("사과가 있어용")

사과가 있어용

In [29]:
# 사전 자료형 함수
a = dict()
a['사과'] = "Apple"
a['바나나'] = "Banana"
a['코코넛'] = "Coconut"

# 키 데이터만 담은 리스트
key_list = a.keys()
# 값 데이터 리스트
value_list = a.values()
print(key_list)
print(value_list)

# 각 키에 값 하나씩 출력
for key in key_list:
  print(a[key])

dict_keys(['사과', '바나나', '코코넛'])
dict_values(['Apple', 'Banana', 'Coconut'])
Apple
Banana
Coconut

## 집합 자료형

In [30]:
# 중복을 허용하지 않는다.
# 순서가 없다.
a = set([1,2,3,4,4,5])
print(a)

a = {1,2,3,4,4,5}
print(a)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [31]:
a = {1,2,3,4,5}
b = {3,4,5,6,7}

print(a|b)  # 합집합
print(a&b)  # 교집합
print(a-b)  # 차집합

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}
{1, 2}

In [33]:
# 집합 관련 함수
a = {1,2,3}
print(a)

a.add(4)
print(a)

a.update([5,6])
print(a)

a.remove(3)
print(a)

{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6}
{1, 2, 4, 5, 6}

# 조건문

In [34]:
a = 15

if a >= 10:
  print(a)

15

In [36]:
score = 85

if score >= 90:
  print("A")
elif score >= 80:
  print("B")
elif score >= 70:
  print("C")
else:
  print("D")

B

In [37]:
score = 85

if score >= 70:
  print('성적이 70점 이상입니다.')
  if score >= 90:
    print('우수한 성적입니다.')

else:
  print('성적이 70점 미만입니다.')
  print('좀 더 분발하세요.')

print('프로그램 종료')

성적이 70점 이상입니다.
프로그램 종료

In [38]:
# 조건부 표현식
score = 85
result = "Success" if score >= 80 else "Fail"

print(result)

Success

In [41]:
a = [1,2,3,4,5,5,5]
remove_set ={3,5}

result = []
for i in a:
  if i not in remove_set:
    result.append(i)

print(result)

# 위 구현을 조건문으로 더 간단하게
a = [1,2,3,4,5,5,5]
remove_set ={3,5}

result = [i for i in a if i not in remove_set]
print(result)

[1, 2, 4]
[1, 2, 4]

# 반복문

## while 문

In [42]:
i = 1
result = 0

while i <= 9:
  result += i
  i += 1

print(result)

45

In [43]:
i = 1
result = 0

while i <= 9:
  if i % 2 == 1:
    result += i
  i += 1

print(result)

25

## for 문

In [44]:
result = 0

for i in range(1,10):
  result += i

print(result)

45

In [45]:
scores = [90, 85, 77, 65, 97]

for i in range(5):
  if scores[i] >= 80:
    print(i+1, "번 학생은 합격입니다.")

1 번 학생은 합격입니다.
2 번 학생은 합격입니다.
5 번 학생은 합격입니다.

In [46]:
scores = [90, 85, 77, 65, 97]
cheating_list = {2, 4}

for i in range(5):
  if i + 1 in cheating_list:
    continue
  if scores[i] >= 80:
    print(i+1, "번 학생은 합격입니다.")

1 번 학생은 합격입니다.
5 번 학생은 합격입니다.

In [47]:
for i in range(2,10):
  for j in range(1, 10):
    print(i, "X", j, "=", i * j)
  print()

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63

8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

# 함수

In [49]:
def add(a, b):
  return a + b

print(add(3, 7))

10

In [51]:
def add(a, b):
  print(a + b)

add(a = 3, b = 7)

10

In [52]:
a = 0

def func():
  global a
  a += 1

for i in range(10):
  func()

print(a)

10

In [53]:
def add(a, b):
  return a + b

print(add(3, 7))

print((lambda a, b: a + b)(3, 7))

10
10

# 입출력

In [54]:
# 입력을 위한 전형적인 소스 코드
n = int(input())
# 각 데이터 공백으로 구분하여 입력
data = list(map(int, input().split()))

data.sort(reverse = True)
print(data)

5
65 90 78 34 99
[99, 90, 78, 65, 34]

In [55]:
n, m ,k = map(int, input().split())

print(n,m,k)

4 5 6
4 5 6

In [57]:
# readline 사용 소스코드
import sys

data = sys.stdin.readline().rstrip()
print(data)

In [58]:
# 출력 예시
a = 1
b = 2

print(a, b)
print(a)
print(b)

1 2
1
2

In [60]:
# typeError 조심
answer = 7
print("정답은 " + answer + "입니다.")

TypeError: ignored

In [61]:
answer = 7
print("정답은 " + str(answer) + "입니다.")

정답은 7입니다.

In [62]:
answer = 7
print("정답은 " , answer , "입니다.")

정답은  7 입니다.

In [63]:
# f-string
answer = 7
print(f"정답은 {answer} 입니다.")

정답은 7 입니다.

# 주요 라이브러의 문법과 유의점

In [67]:
# 내장 함수
result = sum([1,2,3,4,5])
print(result)

result = min([1,2,3,4,5])
print(result)

result = max([1,2,3,4,5])
print(result)

# 문자열 수식 계산
result = eval("(3 + 5) * 7")

result = sorted([1,2,3,4,5])
print(result)
result = sorted([1,2,3,4,5], reverse = True)
print(result)

15
1
5
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [68]:
result = sorted([('홍길동', 35), ('이순신', 70), ('아무개', 50)], key = lambda x : x[1], reverse = True)
print(result)

[('이순신', 70), ('아무개', 50), ('홍길동', 35)]

In [73]:
# itertools
from itertools import permutations 

data = ['A', 'B', 'C']

result = list(permutations(data, 3))
print(result)

[('A', 'B', 'C'), ('A', 'C', 'B'), ('B', 'A', 'C'), ('B', 'C', 'A'), ('C', 'A', 'B'), ('C', 'B', 'A')]

In [74]:
from itertools import combinations

data = ['A', 'B', 'C']

result = list(combinations(data, 2))
print(result)

[('A', 'B'), ('A', 'C'), ('B', 'C')]

In [76]:
from itertools import product

data = ['A', 'B', 'C']

result = list(product(data, repeat=2))
print(result)

[('A', 'A'), ('A', 'B'), ('A', 'C'), ('B', 'A'), ('B', 'B'), ('B', 'C'), ('C', 'A'), ('C', 'B'), ('C', 'C')]

In [77]:
from itertools import combinations_with_replacement

data = ['A', 'B', 'C']

result = list(combinations_with_replacement(data, 2))
print(result)

[('A', 'A'), ('A', 'B'), ('A', 'C'), ('B', 'B'), ('B', 'C'), ('C', 'C')]

In [80]:
# heapq
import heapq

def heapsort(iterable):
  h = []
  result = []

  for value in iterable:
    heapq.heappush(h, value)
  for _ in range(len(h)):
    result.append(heapq.heappop(h))
  return result

result = heapsort([1,3,5,7,9,2,4,6,8,0])
print(result)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [81]:
def heapsort(iterable):
  h = []
  result = []

  for value in iterable:
    heapq.heappush(h, -value)
  for _ in range(len(h)):
    result.append(-heapq.heappop(h))
  return result

result = heapsort([1,3,5,7,9,2,4,6,8,0])
print(result)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [82]:
# bisect
from bisect import bisect_left, bisect_right

a = [1,2,4,4,8]
x = 4

print(bisect_left(a,x))
print(bisect_right(a,x))

2
4

In [83]:
def count_by_range(a, left_value, right_value):
  right_index = bisect_right(a, right_value)
  left_index = bisect_left(a, left_value)
  return right_value - left_value

a = [1,2,3,3,3,3,4,4,8,9]

print(count_by_range(a,4,4))

print(count_by_range(a, -1, 3))

0
4

In [84]:
# collections 
from collections import deque

data = deque([2,3,4])
data.appendleft(1)
data.append(5)

print(data)
print(list(data))

deque([1, 2, 3, 4, 5])
[1, 2, 3, 4, 5]

In [86]:
from collections import Counter

counter = Counter(['red', 'blue', 'red', 'green', 'blue', 'blue'])

print(counter['blue'])
print(counter['green'])
print(dict(counter))

3
1
{'red': 2, 'blue': 3, 'green': 1}

In [87]:
# math
import math

print(math.factorial(5))

print(math.sqrt(7))

print(math.gcd(21, 14))

print(math.pi)
print(math.e)

120
2.6457513110645907
7
3.141592653589793
2.718281828459045